cs134final/.vs/cs134final/FileContentIndex/97722199-fd3b-4115-b2b1-3a7f8b7b2f64.vsidx
cs134final/.vs/cs134final/v17/Browse.VC.db
cs134final/.vs/cs134final/v17/DocumentLayout.json
cs134final/.vs/cs134final/v17/fileList.bin
cs134final/.vs/cs134final/v17/Solution.VC.db
